<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Recipes" %>

  <div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
    <h1 class="text-center text-3xl font-semibold text-gray-900">Browse Recipes</h1>
    <div class="mx-auto w-full sm:w-2/3 my-4">
      <%= render 'shared/search', label: "Search Recipes", placeholder: "Lemon Drinks", path: recipes_path %>
    </div>

    <div id="recipes" class="-mx-px my-6 grid grid-cols-1 border-l border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4">
      <% @recipes.each do |recipe| %>
        <%= render "card", recipe: recipe %>
      <% end %>
    </div>
    <%== pagy_nav_custom(@pagy) %>
  </div>
</div>
  
