<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New recipe</h1>
  <p class="text-gray-600 mt-2 mb-4">Create a new recipe manually or use AI to generate one from a simple prompt!</p>

  <%= render "form", recipe: @recipe %>

  <%= link_to "Back to recipes", recipes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
