# Name of your application. Used to uniquely configure containers.
service: poor-man

# Name of the container image.
image: njord/poor-man

# Deploy to these servers.
servers:
  web:
    hosts:
      - 207.180.193.253

proxy:
  host: "poormanwithapan.com"
  ssl: true

volumes:
  - "poor_man_storage:/rails/storage"

asset_path: /rails/public/assets

registry:
  server: localhost:5555

env:
  clear:
    RUBY_YJIT_ENABLE: 1
    RAILS_SERVE_STATIC_FILES: true
    SOLID_QUEUE_IN_PUMA: true
    # Set number of processes dedicated to Solid Queue (default: 1)
    JOB_CONCURRENCY: 1
    # Set number of cores available to the application on each server (default: 1).
    WEB_CONCURRENCY: 2
    RAILS_MAX_THREADS: 10

  secret:
    - RAILS_MASTER_KEY
# Use a different ssh user than root
# ssh:
#   user: app

builder:
  driver: docker
  arch: amd64

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
