

<div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
  <h1 class="text-center text-3xl font-semibold text-gray-900">Browse <%= @category.title %> Recipes</h1>
  <div class="mx-auto my-4 w-full">
    <%= render "recipes/discovery_filters", path: category_path(@category.slug), placeholder: "Search #{@category.title.downcase} recipes" %>
  </div>

  <% if @recipes.any? %>
    <div id="recipes" class="-mx-px my-6 grid grid-cols-1 border-l border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4">
      <% @recipes.each do |recipe| %>
        <%= render "recipes/card", recipe: recipe %>
      <% end %>
    </div>
    <%== pagy_nav_custom(@pagy) %>
  <% else %>
    <div class="my-12 rounded-3xl border border-dashed border-gray-300 bg-gray-50 px-6 py-12 text-center text-sm text-gray-500">
      No recipes matched that category filter. Try broadening the search.
    </div>
  <% end %>
</div>
  
