<% content_for :title, "#{@category.title} Recipies" %>
<% content_for :description, "Browse #{@category.title} recipes, you will find a variety of recipes to choose from." %>


<div class="w-full">
  <%= render @category %>
</div>
